*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.space{
    padding: 15px;
}
.About-image{
   width: 500px;
}
.head1{ 
 
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: auto;
}
.introduction{
    
    font-family: Arial;
   
}
.space1{
    padding: 10px;
    
}
.contant{
font-size: bolder;
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 50px;
    font-weight: bolder;
}
.size{
 height: 40px;
}
.size2{
 height: 40px;
}
.head{
    font-family: Arial;
    font-weight: bolder;
}
.Images{
    width: 100px;
   border-radius: 300px;
}
.headcon{
    font-family: Arial;

}
.headcon2{
    font-family: Arial;
    font-size: 15px;

}
.buttons{
   background-color: #af270b;
   border-radius: 30px;
   color: white;
   padding: 10px;
   width: 200px;
   border: none;

}
.height{
    height: 265px;
}
.divblue{
    background-color: #0d1868;
    color: white;
   
}





