*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.space{
    padding: 10px;
}
.About-image{
   width: 500px;
}
.head{
    font-weight: bolder;
    font-family: Arial;
    font-size: 30px;
}
.head2{
    font-family: Arial;
    font-weight: bold;
}
.intro{
    font-family: Arial;
}
.contant{
 font-size: bolder;
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 50px;
    font-weight: bolder;
}
.size{
 height: 40px;
}
.size2{
 height: 40px;
}


